/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/* common styles or utilities */
.container {
  width: 95%;
  margin: 0 auto;
}
/* Header Area Styles */
#header{
  overflow: hidden;
  padding: 0;
  align-items: unset;
}
#header nav{
  display: none;
}
/* Banner Area Styles */
#banner-area {
  margin: 0;
}
.banner-info {
  flex-direction: column;
  align-items: unset;
}
.banner-content {
  margin-top: 50px;
}
.banner-image {
  margin: 50px 0;
}
.banner-image img {
  width: 100%;
  height: auto;
}
/* Players Gellary Area Styles */
section#players-gellary {
  margin-top: 50px;
}
.gellary {
  grid-template-columns: repeat(1, 1fr);
  margin: 0;
}.player-card img {
  width: 100%;
}
/* Highlights Area Styles */
#highlights {
  margin: 60px 0 0 0;
}
.highlights-content-info {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: unset;
}
.highlights-image {
  margin: 50px 0;
}
.highlights-image img {
  width: 100%;
  height: auto;
}
/* Footer Area Styles */
#footer {
  margin: 0 0 60px 0;
}
.footer-logo img {
  width: 100%;
}






















}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}